#header {
    background-color: black;
    color: white;
    text-align: center;
    height: 10%;
    /*padding: 5px;*/
}

/*
In order for divs to be 100% of the height of their parent, the parent has to have a defined height.
http://stackoverflow.com/questions/10490933/inherit-height-of-parent-doesnt-work
*/
#middle {
    height: 85%;
}

#nav {
    background-color: #eeeeee;
    /*
    width: calc(35% - 10px);
    float: left;*/
    /*overflow: auto;*/
    /*padding: 5px;*/
    height: 100%;
    overflow: auto;
}

#section {
    /*
    width: calc(65% - 20px);
    float: left;*/
    /*padding: 10px;*/
    height: 100%;
    overflow: auto;
}

#checkers {
    overflow: auto;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    /*padding: 5px;*/
    height: 5%;
}

ul {
    list-style-type: none;
}

/* Useful to reset the webkit-padding-left inherited from Browsers */
.checkboxes {
    margin: 0;
    padding: 0;
}

input:disabled {
    pointer-events: none;
    cursor: default;
}

iframe {
    height: 100%;
    width: 100%;
}