/*
In order for divs to be 100% of the height of their parent, the parent has to have a defined height.
http://stackoverflow.com/questions/10490933/inherit-height-of-parent-doesnt-work
*/
#site {
    height: 100%;
}

#header {
    height: 15%;
}

#middle {
    height: 80%;
}

#nav {
    height: 100%;
    overflow: auto;
}

#section {
    height: 100%;
    overflow: auto;
}

.panel {
    height: 100%;
}

iframe {
    height: 100%;
    width: 100%;
}

#checkers {
    overflow: auto;
}

ul {
    list-style-type: none;
}

/* Useful to reset the webkit-padding-left inherited from Browsers */
.checkboxes {
    margin: 0;
    padding: 0;
}

input:disabled {
    pointer-events: none;
    cursor: default;
}